name: plop
description: "Une application de notification minimaliste et multiplateforme."
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0

environment:
  sdk: '>=3.2.0 <4.0.0' # Assurez-vous d'utiliser une version récente de Dart

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  # Pour l'architecture API REST
  http: ^1.2.1

  # Pour l'authentification et l'identité locale

  # Firebase Core
  #  firebase_auth: ^5.5.4
  #  cloud_firestore: ^5.6.9

  # Stockage local & Utilitaires
  shared_preferences: ^2.2.3
  uuid: ^4.4.0

  # Sauvegarde / Restauration
  encrypt: ^5.0.3
  file_picker: ^8.0.5
  share_plus: ^9.0.0
  hive_ce_flutter: any

  # État et Utilitaires
  provider: ^6.1.2

  flutter_dotenv: ^5.1.0

  intl: any
  logger: ^2.3.0
  hive_ce: any
  flutter_local_notifications: ^17.1.2
  audioplayers: ^6.0.0
  url_launcher: ^6.3.0
  flutter_speed_dial: ^7.0.0


  web_socket_channel: ^3.0.0
  flutter_background_service: ^5.0.5
  firebase_core: ^3.1.0
  firebase_messaging: ^15.0.1

  path_provider: ^2.1.3
  path: ^1.9.0
  vibration: ^1.9.0
  geolocator: ^12.0.0
  flutter_secure_storage: ^9.2.4
  
dev_dependencies:
  flutter_test:
    sdk: flutter
  mockito: ^5.4.4
  geolocator_platform_interface: any
  flutter_local_notifications_platform_interface: ^7.0.0
  flutter_lints: ^4.0.0
  hive_ce_generator: any
  build_runner: ^2.4.10
  flutter_launcher_icons: ^0.13.1
  source_helper: any
  hive_ce_test: any
  analyzer: any

flutter:
  uses-material-design: true
  generate: true
  # assets:
  #   - assets/sounds/ # Décommentez pour les sons personnalisés
  # Déclaration des polices pour qu'elles soient incluses dans l'application
  fonts:
    - family: Inter
      fonts:
        - asset: assets/fonts/Inter-Regular.ttf
          weight: 400
        - asset: assets/fonts/Inter-Medium.ttf
          weight: 500
        - asset: assets/fonts/Inter-Bold.ttf
          weight: 700

  # Add this section for flutter_dotenv
  assets:
    - .env
    - assets/sounds/plop.mp3
    - assets/sounds/plop.aiff

flutter_launcher_icons:
  # --- Configuration Générale ---
  # Chemin vers votre image source
  image_path: "assets/icon/app.png"

  # --- Configuration par Plateforme ---
  # Active la génération pour Android
  android: true
  # Active la génération pour iOS
  ios: true
  # Active la génération pour le Web
  web:
    generate: true
  # Active la génération pour Windows
  windows:
    generate: true
    # Chemin vers votre image source (peut être le même)
    image_path: "assets/icon/app.png"
  # Active la génération pour macOS
  macos:
    generate: true
    # Chemin vers votre image source (peut être le même)
    image_path: "assets/icon/app.png"