name: plop
description: "Une application de notification minimaliste et multiplateforme."
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0

environment:
  sdk: '>=3.2.0 <4.0.0' # Assurez-vous d'utiliser une version récente de Dart

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  # Pour l'architecture API REST
  http: any

  # Pour l'authentification et l'identité locale

  # Firebase Core
  #  firebase_auth: ^5.5.4
  #  cloud_firestore: ^5.6.9

  # Stockage local & Utilitaires
  shared_preferences: any
  uuid: any

  # Sauvegarde / Restauration
  encrypt: any
  file_picker: any
  share_plus: any
  hive_ce_flutter: any

  # État et Utilitaires
  provider: any

  flutter_dotenv: any

  intl: any
  logger: any
  flutter_secure_storage: any
  hive_ce: any
  flutter_local_notifications: any
  audioplayers: any
  url_launcher: any
  flutter_speed_dial: any


  web_socket_channel: any
  flutter_background_service: any
  firebase_core: any
  firebase_messaging: any

  path_provider: any
  path: any
  vibration: any
  geolocator: any
dev_dependencies:
  flutter_test:
    sdk: flutter
  mockito: any
  geolocator_platform_interface: any
  flutter_local_notifications_platform_interface: any
  flutter_lints: any
  hive_ce_generator: any
  build_runner: any
  flutter_launcher_icons: any
  source_helper: any
  hive_ce_test: any
  analyzer: any

flutter:
  uses-material-design: true
  generate: true
  # assets:
  #   - assets/sounds/ # Décommentez pour les sons personnalisés
  # Déclaration des polices pour qu'elles soient incluses dans l'application
  fonts:
    - family: Inter
      fonts:
        - asset: assets/fonts/Inter-Regular.ttf
          weight: 400
        - asset: assets/fonts/Inter-Medium.ttf
          weight: 500
        - asset: assets/fonts/Inter-Bold.ttf
          weight: 700

  # Add this section for flutter_dotenv
  assets:
    - .env
    - assets/sounds/plop.mp3
    - assets/sounds/plop.aiff

flutter_launcher_icons:
  # --- Configuration Générale ---
  # Chemin vers votre image source
  image_path: "assets/icon/app.png"

  # --- Configuration par Plateforme ---
  # Active la génération pour Android
  android: true
  # Active la génération pour iOS
  ios: true
  # Active la génération pour le Web
  web:
    generate: true
  # Active la génération pour Windows
  windows:
    generate: true
    # Chemin vers votre image source (peut être le même)
    image_path: "assets/icon/app.png"
  # Active la génération pour macOS
  macos:
    generate: true
    # Chemin vers votre image source (peut être le même)
    image_path: "assets/icon/app.png"
